.navbar {
    background-color: #266093;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-link {
    /* color: #609326; */
    color: #ffffff;
}

h1.title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Ubuntu,sans-serif!important
}

pre {
    /* font-family: Chalkboard, sans-serif */
    font-family: Ubuntu, sans-serif;
    word-wrap: normal;
    word-break: normal;
    border: 1px solid #eee;
}

code {
    /* font-family: Copperplate, sans-serif */
    font-family: Ubuntu, sans-serif
}

body {
    /* font-family: Braggadocio, sans-serif */
    position: relative;
    font-family: Ubuntu, sans-serif;
    padding-top: 60px;
    /*margin-top: 60px*/
}

nav {
    font-family: Ubuntu, sans-serif
}

#toc > ul.nav {
  overflow: scroll;
  height: 500px;
}

blockquote {
  font-size: 14px;
}
